.ui.table.notes-list {
    & .read-unread-action.button {
        white-space: nowrap;
        min-width: 10em;
    }
    & .date-and-author {
        font-style: italic;
    }
    & td.action-buttons {
        text-align: right;
        vertical-align: top;
        white-space: nowrap;
    }
}
