.ui.table.notes-list {
    & .read-unread-action.button {
        white-space: nowrap;
        min-width: 10em;
    }
    & .date-and-author {
        font-style: italic;
    }
    & td.action-buttons {
        text-align: right;
        vertical-align: top;
        white-space: nowrap;
    }
}


.ui.form.filter-form .inline.fields .date_range.field {
    margin-left: 2.28em;

    & .date-modified-range-input {
        display: flex;
        align-items: center;
    }
}
